.o_switch_company_menu button {
    position: relative;

    .o_multi_company_counter_badge {
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 0.6rem;
        line-height: 1;
        padding: 2px 5px;
    }
}
